{% extends "base.html" %}
{% block title %}Каталог изделий{% endblock title %}
{% block content %}
  {% load thumbnail %}
  {% for item in items %}
    <div class="row">
      <div class="col col-xxl-3">
        {% thumbnail item.image "250x250" crop="center" upscale=True as im %}<br>
          <img src="{{ im.url }}"><br>
        {% endthumbnail %}
      </div>
      <div class="col">
        <h3><a href={% url "items:item_detail" item.id %}>{{ item.name }}</a><br></h3>
      </div>
    </div><hr>
  {% endfor %} 
{% endblock content %}