{% extends "base.html" %}
{% block title %}Каталог изделий{% endblock title %}
{% block content %}
  <div class="row">
    <div class="col col-xxl-4">
      {% load thumbnail %}
      {% thumbnail item.image "400x400" crop="center" upscale=True as im %}
        <img src="{{ im.url }}">
      {% endthumbnail %}
    </div>
    <div class="col">
      <h1>{{ item.name }}</h1><br>
      Описание: {{ item.description }}<br>
      Цена: {{ item.price }} руб.<br>
      {% if added %}
        <a href="{% url 'cart:delete_from_cart' item.id %}">Удалить из корзины</a>
      {% else %}
        <a href="{% url 'cart:add_to_cart' item.id %}">Добавить в корзину</a>
      {% endif %}
    </div>
</div>  
{% endblock content %}