<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"> 
    <title>
      {% block title %}
        Нет титула
      {% endblock title %}
    </title>
  </head>
  <body>
    <header>
      {% include "includes/header.html" %} 
    </header>
    <main>
      {% block content %}
        Контент не подвезли :(
      {% endblock content %}
    </main>
    <footer>
      {% include "includes/footer.html" %}   
    </footer>
  </body>
</html>